
.user-dashboard {
  display: flex;
  height: 100vh;
  background-image: url('../../Assets/Images/userDashboardImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: auto;
}

.dashboard-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  align-items: flex-start;

}

.User-dashboard-card {
  background: linear-gradient(45deg, #2b5876,#4e4376); 
  padding: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 40%;
  width: 30vh;
  background-color: darkslategrey;
  align-items: center;
  text-align: center;
  color:#fff;
  
}

.dashboard-card h3 {
  font-size: 20px;
  margin-bottom: 10px;

}
.User-dashboard-card:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .user-dashboard {
    flex-direction: column; 
  }

  .sidebar {
    width: 100%;
  }

  .dashboard-content {
    width: 100%;
  }

  .dashboard-card {
    width: 100%; 
  }
}







