

.admin-dashboard {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #07131c;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
  }
  
  .nav-links li {
    margin-bottom: 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
    padding: 10px 0; 
    transition: color 0.3s;
  }

  .nav-links a:hover {
    color: #9A3B3B; /* Change the link color on hover */
  }
  
  .dashboard-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: flex-start;
  
  }
  
  .dashboard-card {
    background: linear-gradient(45deg, #000428, #004e92); 
    padding: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 50%;
    width: 40vh;
    display: flex;
    flex-direction: column; /* Make the card content stack vertically */
    align-items: center; /* Center the card content horizontally */
    text-align: center;
    color: #fff;
  }

  .dashboard-card:hover {
    transform: scale(1.05);
  }
  
  .dashboard-card h3 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold; 
  }

  .dashboard-card p {
    font-size: 18px;
    margin-top: 70px; /* Add margin at the top of the description */
  }
  
  @media (max-width: 768px) {
    .admin-dashboard {
      flex-direction: column; /* Stack components vertically on smaller screens */
    }
  
    .sidebar {
      width: 100%;
    }
  
    .dashboard-content {
      width: 100%;
    }
  
    .dashboard-card {
      width: 100%; /* Single column on smaller screens */
    }
  }
  
  
  
  
  
  
  
  