.sidebar {
    width: 250px;
    background-color: #07131c;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
  }
  
  .nav-links li {
    margin-bottom: 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
    padding: 10px 0; 
    transition: color 0.3s;
  }

  .nav-links a:hover {
    color: #9A3B3B; 
  }

  @media (max-width: 768px) {
    .sidebar {
        width: 100%;
      }
}