.result-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ccc;
    overflow-x: auto;
  }
  
  .result-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .result-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse; 
    background-color: #fff; 
    border: 1px solid black;
  }
  
  .result-header {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ccc; 
    border: 1px solid black;
  }
  
  .result-table tr {
    border-bottom: 1px solid #ccc; 
    border: 1px solid black;
  }
  
  .result-data {
    padding: 10px;
    border: 1px solid black;
  }
  
  @media (max-width: 768px) {
    .result-table {
      font-size: 14px;
    }
  
    .result-data,
    .result-header {
      padding: 8px;
    }
  }
  